.idea/
target/
*.iml
newdatabase.sql
ShippingAdvice/
wsmill3.sql
permission.properties
.classpath
.project
.settings/
nb-configuration.xml
wsmill*.sql
database-*.sql
.DS_Store
nbactions.xml
*.jsp~
.metadata/
WebContent/
build/
.apt_generated/
.factorypath
