<tr id="wnr_row_{{:id}}">
    <th>{{:no}}</th>
    <td><input type="text" style="width: 125px" readonly="" value="{{:ref_number}}"/></td>
    <td><input class="textAlignCenter" value="{{:date}}" style="width: 80px" readonly=""/></td>
    <td><select style="width: 120px" class='wnr_packing' id="wnr_packing_{{:id}}" vl="{{:packing}}">
        </select></td>
    <td><input type="text" id="wnr_noOfBag_{{:id}}" class="noOfBag" style="width: 40px" value="{{:bags}}" {{:read_only}}/></td>
    {{if type == 'IM' || type == 'XP'}}
    <td><input type="text" id="wnr_pallet_{{:id}}" value="{{:pallet}}" style="width: 150px"  {{:read_only}}/></td>
    {{/if}}
    <td><input type="text" id="wnr_kgPerBag_{{:id}}" class="bag_weight" style="width: 48px" value="{{:kgPerBag}}" {{:read_only}}/></td>
    {{if type == 'IM' || type == 'XP'}}
    <td><input type="text" id="wnr_pallet_weight_{{:id}}" class="pallet" value="{{:pallet_weight}}" style="width: 70px"  {{:read_only}}/></td>
    {{/if}}
    <td><input type="text" id="wnr_gross_{{:id}}" class="gross" style="width: 70px" value="{{:gross}}" {{:read_only}}/></td>
    <td><input type="text" id="wnr_tare_{{:id}}" class="tare" style="width: 70px" value="{{:tare}}" {{:read_only}}/></td>
    <td><input type="text" id="wnr_net_{{:id}}" class="net" style="width: 70px" value="{{:net}}" {{:read_only}}/></td>
    <td><input type="button" class="wnr_print" id="print_wnr_{{:id}}" value="Print"/></td>
    {{if sav == 1}}
    <td><input type="button" class="wnr_save" value="Save"/></td>
    {{/if}}
    {{if del == 1}}
    <td><input type="button" class="wnr_delete" value="Del"/></td>
    {{/if}}
</tr>