<!-- access section -->
<div id="permission_section">
    <h3>Permission</h3>
    <div class="CategorySelectorBody" style="display: none">
        <div class="section">
            <h3 class="parentTopic13 subtitle">
                <div class="parentTopic13 toggle collapsed"></div>
                <a >Internet</a>
                <ul class="accesslist">
                    <li class="first"><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                        <label for="rd_1_0">None</label>
                    </li>
                    <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                        <label for="rd_1_0">Read Only</label>
                    </li>
                    <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                        <label for="rd_1_0">Full Access</label>
                    </li>
                </ul>
                <ul class="rootUL parentTopic13 subtopics" style="display: none;">
                    <li class="subtopic parentTopic239 first">
                        <h4>
                            <div class="parentTopic239 toggle"></div>
                            <span>Internet Development</span>
                            <ul class="accesslist">
                                <li class="first"><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">None</label>
                                </li>
                                <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">Read Only</label>
                                </li>
                                <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">Full Access</label>
                                </li>
                            </ul>
                        </h4>
                        <ul class="parentTopic239 subtopics" style="display: none;">
                            <li class="subtopic first">
                                <h4>
                                    <div class="parentTopic239 toggle"></div>
                                    <span>Web Dev Software</span>
                                    <ul class="accesslist">
                                        <li class="first"><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">None</label>
                                        </li>
                                        <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">Read Only</label>
                                        </li>
                                        <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">Full Access</label>
                                        </li>
                                    </ul>
                                </h4>
                            </li>
                            <li class="subtopic ">
                                <h4>
                                    <div class="parentTopic239 toggle"></div>
                                    <span >Blogs</span>
                                    <ul class="accesslist">
                                        <li class="first"><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">None</label>
                                        </li>
                                        <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">Read Only</label>
                                        </li>
                                        <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">Full Access</label>
                                        </li>
                                    </ul>
                                </h4>
                            </li>
                            <li class="subtopic last">
                                <h4>
                                    <div class="parentTopic239 toggle expand"></div>
                                    <span>Document Imaging</span>
                                    <ul class="accesslist">
                                        <li class="first"><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">None</label>
                                        </li>
                                        <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">Read Only</label>
                                        </li>
                                        <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                            <label for="rd_1_0">Full Access</label>
                                        </li>
                                    </ul>
                                </h4>
                            </li>
                        </ul>
                    <li class="subtopic ">
                        <h4>
                            <div class="parentTopic239 toggle expand disabled"></div>
                            <span>Anti-Virus</span>
                            <ul class="accesslist">
                                <li class="first"><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">None</label>
                                </li>
                                <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">Read Only</label>
                                </li>
                                <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">Full Access</label>
                                </li>
                            </ul>
                        </h4>
                    </li>
                    <li class="subtopic ">

                        <h4>
                            <div class="parentTopic239 toggle expand disabled"></div>
                            <span>WebTrends/Stats</span>
                            <ul class="accesslist">
                                <li class="first"><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">None</label>
                                </li>
                                <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">Read Only</label>
                                </li>
                                <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">Full Access</label>
                                </li>
                            </ul>
                        </h4>
                    </li>
                    <li class="subtopic last">
                        <h4>
                            <div class="parentTopic239 toggle expand disabled"></div>
                            <span>Search Engines</span>
                            <ul class="accesslist">
                                <li class="first"><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">None</label>
                                </li>
                                <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">Read Only</label>
                                </li>
                                <li><input type="radio" name="permission_1" id="rd_1_0" value="0"/>
                                    <label for="rd_1_0">Full Access</label>
                                </li>
                            </ul>
                        </h4>
                    </li>
                </ul>
            </h3>
        </div>
    </div>
</div>