<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="../styles/960.css" rel="stylesheet"/>
        <link href="../styles/style.css" rel="stylesheet"/>
        <link href="../styles/common.css" rel="stylesheet"/>
    </head>
    <body>
        <div style="width: 1500px ! important; padding: 15px; background: none repeat scroll 0% 0% white; height: auto; overflow: hidden; min-height: 800px" class="container_16 border" id="wrapper">
            <!-- top: is where the ref place -->
            <h3>Reference Number: PI-13-00001</h3>
            <div class="pc_100 border_1_solid_black" style="overflow: hidden; height: auto; padding: 10px">
                <!-- filter session for avalaible wn -->
                <ul class="filter_section left">
                    <li>Show</li>
                    <li>
                        <select id="show_contents">
                            <option value="10">10</option>
                            <option value="10">20</option>
                            <option value="10">10</option>
                            <option value="10">10</option>
                        </select>
                    </li>
                </ul>
                
            </div>
        </div>
    </body>
</html>
