<div class="grid_10 main_container" style="width: 818px !important;margin-left: 0px; margin-right: 5px">
    <span>Detail</span>
    <div class="pc100" style="height: 520px">
        <div class="pc50 left cell">

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Client</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcClient" style="width: 100%">
                        <option>HighLands</option>
                        <option>StarBucks</option>
                    </select>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Client Ref</span>
                </div>
                <div class="pc50 right cell">
                    <input type="text" style="width: 97%" name="txtClientRef" value="" />
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">DI Ref</span>
                </div>
                <div class="pc50 right cell">
                    <span >SWC2</span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">DI Date</span>
                </div>
                <div class="pc50 right cell">
                    <span >20-Jul-2013</span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Supplier</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcSupplier" style="width: 100%">
                        <option>KienDN</option>
                        <option>MinhDN</option>
                    </select>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Supplier Ref</span>
                </div>
                <div class="pc50 right cell">
                    <input type="text" style="width: 97%" name="txtSupplierRef" value="" />
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Parking</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcParking" style="width: 100%">
                        <option>Quan 1</option>
                        <option>Quan 12</option>
                    </select>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Quantity</span>
                </div>
                <div class="pc50 right cell">
                    <input type="text" style="width: 50%" name="txtQuantity" value="" /> Mts
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Kg per Bag</span>
                </div>
                <div class="pc50 right cell">
                    <input type="text" style="width: 50%" name="txtKgPerBag" value="0" />
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">No of Bags</span>
                </div>
                <div class="pc50 right cell">
                    <input type="text" style="width: 50%" name="txtNoOfBags" value="0" />
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Warehouse Delivery</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcWarehouseDeli" style="width: 100%">
                        <option>Quan 1</option>
                        <option>Quan 12</option>
                    </select>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Delivery Date</span>
                </div>
                <div class="pc50 right cell">
                    <input type="text" style="width: 60%" name="txtDeliDate" value="" />
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
                <div class="pc50 right cell">
                    <span >From Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To Time</span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Delivery Period</span>
                </div>
                <div class="pc50 right cell">
                    <input type="text" style="width: 30%" class="timePicker" name="txtFrom" value="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" style="width: 30%" class="timePicker" name="txtTo" value="" />
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">No Marking On Bags</span>
                </div>
                <div class="pc50 right cell">
                    <input type="text" style="width: 97%" name="txtNoMarking" value="" />
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Weight Controller</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcWeightCtrl" style="width: 100%">
                        <option>Ton</option>
                        <option>Kg</option>
                    </select>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Quality Controller</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcQualityCtrl" style="width: 100%">
                        <option>Grade1</option>
                        <option>Grade2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="pc50 right cell">
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Origin</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcOrigin" style="width: 100%">
                        <option>VietNam</option>
                        <option>HongKong</option>
                    </select>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Quality</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcQuality" style="width: 100%">
                        <option>Robusta</option>
                        <option>Arabica</option>
                    </select>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Grade</span>
                </div>
                <div class="pc50 right cell">
                    <select name="slcGrade" style="width: 100%">
                        <option>Grade1</option>
                        <option>Grade2</option>
                    </select>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Delivered</span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">0.000 Mts</span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Pending</span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">0.000 Mts</span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">Canceled</span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label">0.000 Mts</span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>
            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="left label">Documents For Payment</span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <input type="checkbox" name="chkOriginalWarehouseReceipt" value="ON"/> Original Warehouse Reciept
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <input type="checkbox" name="chkComericalInvoice" value="ON" /> Comerical Invoice
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <input type="checkbox" name="chkCert" value="ON" /> Cert. Of Quantity & Quality
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <span class="right label"></span>
                </div>
            </div>

            <div class="pc100">
                <div class="pc50 left cell">
                    <input type="checkbox" name="chkLetter" value="ON" /> Letter of Guarantee
                </div>
            </div>

        </div>
    </div>
    <div class="pc50 left" style="height: 120px">
        <div class="pc100 cell">
            <div class="pc50 left cell">
                <span class="right label">Remark</span>
            </div>
            <div class="pc50 right cell">
                <textarea style="width: 575px; height: 50px">
                                
                </textarea>
            </div>
        </div>
        <div class="pc100 cell" style='margin-top: 30px'>
            <div class="pc50 left cell">
                <span class="right label">Completed</span>
            </div>
            <div class="pc50 right cell">
                <input type="checkbox" name="chkComplete" value="ON" />
            </div>
        </div>
        <div class="pc100 cell" style='margin-top: 10px'>
            <div class="pc50 left cell">
                <span class="right label">By Order of</span>
            </div>
            <div class="pc50 right cell">
                <!-- By order of -->
            </div>
        </div>
    </div>

</div>