<!--BEGIN: main-->
<ul class="listCellType border">
    <!--Begin: item-->
    <li class="item" type="{cellType}">
        <div class="{cellType}">&nbsp;</div>{displayname}
    </li>
    <!--END: item-->
</ul>
<script>
//    $(document).on("click", ".item", function() {
//        $(".item").each(function() {
//            console.log('item is chosen');
//            $(this).attr("class", "item");
//        });
//        $(this).attr("class", "item chosen");
//        $("table.warehousemap_editable td.chosen").attr("class", $("li .chosen div").attr("class"));
//        console.log("change????");
//        $("table.warehousemap_editable td.chosen div#" + flag + "_list").html("");
//    });
</script>
<!--END: main-->

