<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="../styles/960.css"/>
        <link rel="stylesheet" href="../styles/common.css"/>
    </head>
    <body>
        <div style="text-align: left">
            <ul class="listCellType border">
                <li class="item">
                    <div class="storage">&nbsp</div>Storage</li>
                <li class="item"><div class="room_machine">&nbsp</div>Machine, room</li>
                <li class="item"><div class="out_of_use">&nbsp</div>Out of Use</li>
                <li class="item"><div class="wall">&nbsp</div>Wall</li>
                <li class="item"><div class="door_hor">&nbsp</div>Door</li>
            </ul>
        </div>
    </body>
</html>
