<div class="grid_2" style="width: 160px !important; margin-left: 0px; margin-right: 5px">
    <div>
        <label>DI Ref</label>
    </div>
    <div class="border" style="height: 300px">
        <input style="width: 96%; margin-top: 0px; margin-bottom: 1px;" type="text" name="txtDIRef" value="" />
        <div class="textAlignLeft">
            <ul>
                <li>SWC</li>
                <li>SWC2</li>
                <li>SWC3</li>
            </ul>
        </div>
    </div>
    <div>
        <input type="submit" value="Add" />
        <input type="submit" value="Del" />
    </div>
</div>
