<!-- BEGIN: body -->
<tbody>
    <!-- BEGIN: row -->
    <tr id="{prefix}_{id}" class="{prefix} prow">
        <td width="100px">{si_ref}</td>
        <td width="100px">{buyer}</td>
        <td width="90px">{origin}</td>
        <td width="100px">{quality}</td>
        <td width="280px">{grade}</td>
        <td width="120px">{packing}</td>
        <td class="formatNumber" width="100px">{total}</td>
        <td class="formatNumber" width="100px">{delivered}</td>
        <td class="formatNumber" width="100px">{pending}</td>
        <td width="85px">{from}</td>
        <td width="85px">{to}</td>
    </tr>
    <!-- END: row -->
</tbody>
<!-- END: body -->

<!-- BEGIN: footer -->
<tfoot>
    <tr>
        <th width="100px">Total</th>
        <th width="100px"></th>
        <th width="90px"></th>
        <th width="100px"></th>
        <th width="280px"></th>
        <th width="120px"></th>
        <th style="text-align: left" class="formatNumber" width="100px">{t_total}</th>
        <th style="text-align: left" class="formatNumber" width="105px">{t_delivered}</th>
        <th style="text-align: left" class="formatNumber" width="100px">{t_pending}</th>
        <th colspan="2" width="170px"></th>
    </tr>
</tfoot>
<!-- END: footer -->