<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="../styles/960.css"/>
        <link rel="stylesheet" href="../styles/common.css"/>
        <link rel="stylesheet" href="../styles/font_icons.css"/>
        <script src="../js/jquery-1.9.1.js"></script>
    </head>
    <body>
        <div style="width: 1300px ! important; padding: 15px; background: none repeat scroll 0% 0% white; height: auto; overflow: hidden" class="container_16 border" id="wrapper">
            <div style="width: 190px;padding-bottom: 10px;" class="left border">
                <div class="title center">
                    QR Type
                </div>
                <div class="pc100">
                    <ul style="margin-left: 5px; padding-left: 10px; width: 158px !important" class="ref_list">
                        <li>Import</li>
                        <li>In-Process</li>
                        <li>Ex-Process</li>
                        <li>Export</li>
                        <li>Whse Receipt</li>
                        <li>Weight Cert.</li>
                    </ul>
                </div>
            </div>
            <div style="width: 220px;padding-bottom: 10px;" class="left border">
                <div class="title center">
                    QR Ref
                </div>
                <div class="pc100">
                    <ul style="margin-left: 5px; padding-left: 10px; width: 188px !important" class="ref_list">
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                        <li>SWC-BD-QR-IM 13-00936</li>
                    </ul>
                </div>
            </div>
            <div style="width: 870px !important; margin-right: 0px !important;" class="right grid_14">
                <div class="title center">
                    Detail
                </div>
                <div style="width: 850px !important; min-height: 80px; height: auto; overflow: hidden;margin-right: 9px;" class="center border">
                    <div class="left" style="width: 425px;">
                        <table class="detail_info_table" style="margin-left: 60px">
                            <tr>
                                <td class="" align="right">QR Ref</td>
                                <td class="fontBolder" align="left">SWC-BD-QR-IM 13-00212</td>
                            </tr>
                            <tr>
                                <td class=""  align="right">Date</td>
                                <td class="fontBolder" align="left">Jul-26-13</td>
                            </tr>
                            <tr>
                                <td class="" align="right">Supplier</td>
                                <td class="fontBolder" align="left">Agrexpoca</td>
                            </tr>
                            <tr>
                                <td class="" align="right">Supplier Ref</td>
                                <td class="fontBolder" align="left">Sup-Agrex 0012-1212</td>
                            </tr>
                        </table>
                    </div>
                    <div class="right" style="width: 425px;">
                        <table class="detail_info_table" style="margin-left: 60px">
                            <tr>
                                <td class="" align="right">WN Ref</td>
                                <td class="fontBolder" align="left">WN-22200223</td>
                            </tr>
                            <tr>
                                <td class=""  align="right">Origin</td>
                                <td class="fontBolder" align="left">Dak Lak</td>
                            </tr>
                            <tr>
                                <td class="" align="right">Quality</td>
                                <td class="fontBolder" align="left">Robusta baby</td>
                            </tr>
                            <tr>
                                <td class="" align="right">Grade</td>
                                <td class="fontBolder" align="left">20% to ti te</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width: 850px !important; min-height: 300px; height: auto; overflow: hidden;margin-right: 9px;" class="center border">
                    <div class="left" style="width: 425px;">
                        <table class="detail_info_table" style="margin-left: 60px">
                            <tr>
                                <td class="" align="right">Black (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Brown (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Broken (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Black & Broken (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Worm (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">FM (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Moisture (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Moldy (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Old Crop (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="right" style="width: 425px;">
                        <table class="detail_info_table" style="margin-left: 60px">
                            <tr>
                                <td class="" align="right">Above Screen 20 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 20 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 19 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 18 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 17 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 16 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 15 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 14 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 13 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Screen 12 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right">Below Screen 12 (%)</td>
                                <td class="" align="left"><input type="text" value="0.00" style="width: 40%"/></td>
                            </tr>
                            <tr>
                                <td class="" align="right"></td>
                                <td class="fontBolder" align="left">0.00</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width: 850px !important; min-height: 100px; height: auto; overflow: hidden;margin-right: 9px;" class="center border">
                    <table class="quality_table center" border="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Cup 1</th>
                                <th>Cup 2</th>
                                <th>Cup 3</th>
                                <th>Cup 4</th>
                                <th>Cup 5</th>
                                <th>Rejected</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="test_case">
                            <tr id="row_1" class="row_normal on">
                                <th>Test 1</th>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td class="rejected"><input type="text" style="width: 94%"/></td>
                                <td class="rejected">/5<a class='mpcth-icon-plus-squared' href='javascript:void()' id='add' style='margin-left: 5px'></a><a class='mpcth-icon-minus-squared' href='javascript:void()' id='remove' style='margin-left: 5px'></a>
                                </td>
                            </tr>
                            <tr id="row_2" class="row_normal on">
                                <th>Test 2</th>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td class="rejected"><input type="text" style="width: 94%"/></td>
                                <td class="rejected">/10<a class='mpcth-icon-plus-squared' href='javascript:void()' id='add' style='margin-left: 5px'></a><a class='mpcth-icon-minus-squared' href='javascript:void()' id='remove' style='margin-left: 5px'></a>
                                </td>
                            </tr>
                            <tr id="row_3" class="row_last last_item on">
                                <th>Test 3</th>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td><input class="cup_item" type="text" style="width: 94%"/></td>
                                <td class="rejected"><input type="text" style="width: 94%"/></td>
                                <td class="rejected">/15<a class='mpcth-icon-plus-squared' href='javascript:void()' id='add' style='margin-left: 5px'></a><a class='mpcth-icon-minus-squared' href='javascript:void()' id='remove' style='margin-left: 5px'></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width: 850px !important; min-height: 100px; height: auto; overflow: hidden;margin-right: 9px;" class="center border">
                    <table class="detail_info_table" style="margin-left: 60px">
                        <tr>
                            <td class="" align="right">Remark</td>
                            <td align="left">
                                <textarea style="width: 575px; height: 50px"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class=""  align="right">Complete</td>
                            <td align="left">
                                <input type="checkbox" name="completed" id="completed" value=""/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="right" style="width: 850px; margin-top: 20px;">
                    <input class="right" type="button" value="List View" />
                    <input class="right" type="button" value="Print" />
                </div>
            </div>
        </div>
    </body>
    <script>
        var count = 1;
        $(document).ready(function() {
            stylingTestCupTable();
        }).on("click", "#add", function() {
            var cur_num = parseInt($(this).parent().parent().attr("id").split("_")[1]) + 1;
            $(this).parent().parent().toggleClass("row_last");
            $(this).parent().parent().addClass("row_normal");
            if ($(this).parent().parent().hasClass("last_item")) {
                $(this).parent().parent().toggleClass("last_item");
                $("#test_case").append(
                        "<tr id='row_" + cur_num + "' class='row_last last_item on'>"
                        + "<th>Test " + cur_num + "</th>"
                        + "<td><input class='cup_item' type='text' style='width: 94%'/></td>"
                        + "<td><input class='cup_item' type='text' style='width: 94%'/></td>"
                        + "<td><input class='cup_item' type='text' style='width: 94%'/></td>"
                        + "<td><input class='cup_item' type='text' style='width: 94%'/></td>"
                        + "<td><input class='cup_item' type='text' style='width: 94%'/></td>"
                        + "<td class='rejected'><input type='text' style='width: 94%'/></td>"
                        + "<td class='rejected'>/" + cur_num*5 + "<a class='mpcth-icon-plus-squared' href='javascript:void()' id='add' style='margin-left: 5px'></a><a class='mpcth-icon-minus-squared' href='javascript:void()' id='remove' style='margin-left: 5px'></a>"
                        + "</td>"
                        + "</tr>"
                        );
                stylingTestCupTable();
            } else {
                $(this).parent().parent().next().toggleClass("row_normal");
                $(this).parent().parent().next().addClass("row_last");
                $(this).parent().parent().next().addClass("on");
                $(this).parent().parent().next().css("display", "");
                stylingTestCupTable();
            }
        }).on("click", "#remove", function() {
            if ($(this).parent().parent().attr("id").split("_")[1] !== "1") {
                $(this).parent().parent().toggleClass("row_last");
                $(this).parent().parent().toggleClass("on");
                $(this).parent().parent().addClass("row_normal");
                $(this).parent().parent().css("display", "none");
                $(this).parent().parent().prev().toggleClass("row_normal");
                $(this).parent().parent().prev().addClass("row_last");
                stylingTestCupTable();
            }

        });
        function stylingTestCupTable() {
            $("#test_case tr.row_normal td.rejected").css("display", "none");
            $("#test_case tr.row_last td.rejected").css("display", "");
        }
    </script>
</html>

