<tr>
    <td width="200px" class="wn_ref" style="width: 196px;" data-content="wn_ref"></td>
    <td width="100px" class="wn_status" style="width: 104px;"><span data-css="wn_style" data-content="wn_status"></span></td>
    <td width="200px" class="qr_ref" style="width: 196px;" data-content="qr_ref"></td>
    <td width="100px" class="qr_status" style="width: 104px;"><span data-css="qr_style" data-content="qr_status"></span></td>
    <td width="250px" class="wn_grade" style="width: 239px;" data-content="wn_grade"></td>
    <td width="100px" class="wn_bags" style="width: 104px;" data-content="wn_bags"></td>
    <td width="100px" class="wn_net" style="width: 102px;" data-content="wn_net"></td>
    <td width="100px" style="width: 103px;"><input type="button" data-id="btn_id" class="btnSelected" value="Delete"/></td>
</tr>


