<!-- BEGIN: main -->
<table class="advice_detail" style="">
    <tr>
        <td colspan="7">Claim Details:</td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">SI Ref.:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{si_ref}" disabled />
        </td>
        <td class="title" align="right">SI Date:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{si_date}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Shipping Advice Ref.:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{sa_ref}" disabled />
        </td>
        <td class="title" align="right">SA Date:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{sa_date}" disabled />
        </td>
    </tr>

    <tr>
        <td colspan="7">Party Details:</td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Client:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{client}" disabled />
        </td>
        <td class="title" align="right">Client Ref.:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{client_ref}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Supplier:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{supplier}" disabled />
        </td>
        <td class="title" align="right">Supplier Ref.:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{supplier_ref}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Shipper:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{shipper}" disabled />
        </td>
        <td class="title" align="right">Shipper Ref.:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{shipper_ref}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Buyer:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{buyer}" disabled />
        </td>
        <td class="title" align="right">Buyer Ref.:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{buyer_ref}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Consignee:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{consignee}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Notify Party:</td>
        <td class="content" align="left">
            {notify_party}
        </td>
    </tr>

    <tr>
        <td colspan="7">Shipping Details:</td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">B/L Number:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{bl_number}" disabled />
        </td>
        <td class="title" align="right">B/L Date:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{bl_date}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Container Status:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{container_status}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Feeder Vessel:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{feeder_vessel}" disabled />
        </td>
        <td class="title" align="right">Etd:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{feed_etd}" disabled />
        </td>
        <td class="title" align="right">Eta:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{feed_eta}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Port of Loading:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{port_of_loading}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Transit Port:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{transit_port}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Mother Vessel:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{mother_vessel}" disabled />
        </td>
        <td class="title" align="right">Etd:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{mo_etd}" disabled />
        </td>
        <td class="title" align="right">Eta:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{mo_eta}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Port of Discharge:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{port_of_discharge}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">ICO Number</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{ico_number}" disabled />
        </td>
    </tr>


    <tr>
        <td colspan="7">Shipping Goods:</td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Origin:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{origin}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Quality:</td>
        <td class="content" align="left">
            <input type="text" class="" style="" name="" id="" value="{quality}" disabled />
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="title" align="right">Remarks:</td>
        <td colspan="3" class="content" align="left">
            <textarea type="text" class="" style="width: 475px; height: 75px" name="" id="sa_remark">{sa_remark}</textarea>
        </td>
    </tr>
</table>

<table class="si_wn_detail" style="margin-top: 20px;">
    <tr class="head">
        <th class="text" colspan="3">Container Details:</th>
        <th class="text" colspan="3">Shipped Weight Details:</th>
    </tr>
    <tr class="head">
        <th class="text">Container No.:</th>
        <th class="text">Seal No.:</th>
        <th class="text">Bags:</th>
        <th class="number">Gross Weight Mt.</th>
        <th class="number">Tare Weight Mt.</th>
        <th class="number">Net Weight Mt.</th>
    </tr>
    {wnrowinput}
</table>

<table class="si_wn_detail" style="margin-top: 20px;">
    <tr class="head">
        <th class="text" colspan="3">Container Details:</th>
        <th class="text" colspan="3">Shipped Weight Details:</th>
    </tr>
    <tr class="head">
        <th class="text">Container No.:</th>
        <th class="text">Seal No.:</th>
        <th class="text">Bags:</th>
        <th class="number">Gross Weight Mt.</th>
        <th class="number">Tare Weight Mt.</th>
        <th class="number">Net Weight Mt.</th>
    </tr>
    {wnrow}
    <tr>
        <td colspan="6"></td>
    </tr>

    <tr class="foot">
        <th class="number" ></th>
        <th class="text" >Variance:</th>
        <th class="text" ></th>
        <th class="number" id="varianceGross"></th>
        <th class="number" id="varianceTare"></th>
        <th class="number" id="varianceNet"></th>
    </tr>
</table>

<table class="si_wn_detail" style="margin-top: 20px; width: 50%">
    <tbody>
    {sasrow}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        synchronizeInputWnTable();
        synchronizeWnTable();
        synchronizeVariance();
    }).on("keyup", "input.iwngross, input.iwntare, input.iwnbag", function() {
        synchronizeNet();
        synchronizeInputWnTable();
        synchronizeVariance();
    });

    function synchronizeInputWnTable() {
        var tibag = parseFloat("0"), tigross = parseFloat("0"), titare = parseFloat("0"), tinet = parseFloat("0");
        $("input.iwnbag").each(function() {
            tibag += parseFloat($(this).val());
        });
        $("input.iwngross").each(function() {
            tigross += parseFloat($(this).val());
        });
        $("input.iwntare").each(function() {
            titare += parseFloat($(this).val());
        });
        $("input.iwnnet").each(function() {
            tinet += parseFloat($(this).val());
        });
        $("#tiwnbag").text(accounting.formatNumber(tibag, 1, ",", "."));
        $("#tiwngross").text(accounting.formatNumber(tigross, 3, ",", "."));
        $("#tiwntare").text(accounting.formatNumber(titare, 3, ",", "."));
        $("#tiwnnet").text(accounting.formatNumber(tinet, 3, ",", "."));
    }

    function synchronizeWnTable() {
        var tbag = parseFloat("0"), tgross = parseFloat("0"), ttare = parseFloat("0"), tnet = parseFloat("0");
        $("td.wnbag").each(function() {
            tbag += parseFloat($(this).text());
        });
        $("td.wngross").each(function() {
            tgross += parseFloat($(this).text());
        });
        $("td.wntare").each(function() {
            ttare += parseFloat($(this).text());
        });
        $("td.wnnet").each(function() {
            tnet += parseFloat($(this).text());
        });
        $("#twnbag").text(accounting.formatNumber(tbag, 1, ",", "."));
        $("#twngross").text(accounting.formatNumber(tgross, 3, ",", "."));
        $("#twntare").text(accounting.formatNumber(ttare, 3, ",", "."));
        $("#twnnet").text(accounting.formatNumber(tnet, 3, ",", "."));
    }

    function synchronizeVariance() {
        $("#varianceGross").text(accounting.formatNumber(parseFloat($("#tiwngross").text()) - parseFloat($("#twngross").text()), 3, ",", "."));
        $("#varianceTare").text(accounting.formatNumber(parseFloat($("#tiwntare").text()) - parseFloat($("#twntare").text()), 3, ",", "."));
        $("#varianceNet").text(accounting.formatNumber(parseFloat($("#tiwnnet").text()) - parseFloat($("#twnnet").text()), 3, ",", "."));
    }

    function synchronizeNet() {
        $("input.iwnnet").each(function() {
            var rowNumber = $(this).attr("id").split("_")[1];
            var gross = $("#inputgross_" + rowNumber).val();
            var tare = $("#inputtare_" + rowNumber).val();
            $(this).val(accounting.formatNumber(parseFloat(gross) - parseFloat(tare) , 3, ",", "."));
        });
    }
</script>
<!-- END: main -->