<!-- BEGIN: wr_info -->
<div class="pc100">
    <div class="pc40 left cell">
        <span class="right label">Date</span>
    </div>
    <div class="pc50 left cell">
        <input type="text" style="width: 150px" class="date_picker_text" id="wr_date" name="wr_date" value="{date}" readonly=""/>
    </div>
</div>
<div class="pc100">
    <div class="pc40 left cell">
        <span class="right label">Origin</span>
    </div>
    <div class="pc50 left cell">
        <span class="label">Vietnam</span>
    </div>
</div>
<div class="pc100">
    <div class="pc40 left cell">
        <span class="right label">Quality</span>
    </div>
    <div class="pc50 left cell">
        <span class="label">Robusta</span>
    </div>
</div>
<div class="pc100">
    <div class="pc40 left cell">
        <span class="right label">Grade</span>
    </div>
    <div class="pc50 left cell">
        <span class="label">{grade}</span>
    </div>
</div>
<div class="pc100">
    <div class="pc40 left cell">
        <span class="right label">Supplier/Buyer</span>
    </div>
    <div class="pc50 left cell">
        <span class="label">{company}</span>
    </div>
</div>
<div class="pc100">
    <div class="pc40 left cell">
        <span class="right label">Remark</span>
    </div>
    <div class="pc50 left cell">
        <textarea rows="4" cols="50">
        {remark}
        </textarea>
    </div>
</div>
<!-- END: wr_info -->


