<!-- BEGIN: main -->
<div style="width: 1000px; height: auto; overflow: hidden">
    <div class="left" style="width: 400px;">
        <table class="table_detail_content">
            <tr>
                <td class="firstcol" align="right">Weight Note Ref</td>
                <td class="secondcol bold" align="left">{ref_number}</td>
            </tr>
            <tr>
                <td class="firstcol"  align="right">Date Time</td>
                <td class="bold secondcol" align="left">{wn_dateTime}</td>
            </tr>
            <tr>
                <td class="firstcol" align="right">{ins_ref_name}</td>
                <td class="secondcol bold" align="left">{ins_ref_number}</td>
            </tr>
            <tr>
                <td class="firstcol" align="right">Supplier</td>
                <td class="secondcol bold" align="left">{supplier}</td>
            </tr>
            <tr>
                <td class="firstcol" align="right">Supplier Ref </td>
                <td class="secondcol bold" align="left">{supplier_ref}</td>
            </tr>
        </table>
    </div>
    <div class="right" style="width: 400px;">
        <table class="table_detail_content">
            <tr>
                <td class="firstcol" align="right">Quality Ref</td>
                <td class="secondcol bold" align="left">{quality_ref}</td>
            </tr>
            <tr>
                <td class="firstcol"  align="right">Origin</td>
                <td class="bold secondcol" align="left">Vietnam</td>
            </tr>
            <tr>
                <td class="firstcol" align="right">Quality</td>
                <td class="secondcol bold" align="left">Robusta</td>
            </tr>
            <tr>
                <td class="firstcol" align="right">Grade</td>
                <td class="secondcol bold" align="left">
                    <select id="grade" name="grade" style="width: 200px">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="firstcol" align="right">Packing</td>
                <td class="secondcol bold" align="left">
                    <select id="packing" name="packing" style="width: 200px">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="firstcol" align="right">Area</td>
                <td class="secondcol" align="left"><input type="text" name="area" id="area" value="{area}" readonly=""/></td>
            </tr>
        </table>
    </div>
</div>
<table class="cuteBorder" border="1" style="font-size: 13px; margin-top: 25px; margin-left: 5px">
    <thead>
        <tr>
            <th id="wnr_text">WNR</th>
            <th id="gross_text">Gross weight</th>
            <!--<th colspan="3" width="150px">Truck Mode</th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="allocated_wnr_id" id="allocated_wnr_id" style="width: 150px !important"/></td>
            <td><input type="text" name="wnr_gross" id="wnr_gross" style="width: 150px !important" disabled/></td>
<!--            <td class="textAlignCenter">
                <label><b>None</b></label>
                <input type="radio" name="truck_mode" id="truck_mode_none" value="0"/>
            </td>
            <td class="textAlignCenter">
                <label><b>Gross</b></label>
                <input type="radio" name="truck_mode" id="truck_mode_gross" value="1"/>
            </td>
            <td class="textAlignCenter">
                <label><b>Tare</b></label>
                <input type="radio" name="truck_mode" id="truck_mode_tare" value="2"/>
            </td>-->
            <td class="textAlignCenter"><input type="button" id="btnNewIpWNR" value="Add" style="margin-right: 244px"/></td>
        </tr>
    </tbody>
</table>
<input type="hidden" name="inst_id" id="inst_id" value="{inst_id}"/>
<input type="hidden" name="id_warehousemap" id="id_warehousemap" value="{id_warehousemap}"/>
<input type="hidden" name="id_warehousecell" id="id_warehousecell" value="{id_warehousecell}"/>
<div id="wnr_content">
    {wnr_content}
</div>
<div style="margin-left: 100px; margin-top: 10px">
    <label>Completed</label>
    <input type="checkbox" value="{status}" id="wn_status" name="wn_status" {checked}/>
</div>
<script>
        $(document).ready(function() {
            sendJsonRequest("grade", "selection_grade", {"selected_value": "{grade_id}"}, 0);
            sendJsonRequest("packing", "selection_packing", {"selected_value": "{packing_id}"}, 0);
        });
</script>
<!-- END: main -->