<!-- BEGIN: main -->
<tbody>
    <!-- BEGIN: scroll -->
    <tr>
        <td width="200px" class="wn_ref" style="width: 196px;">{wn_ref}</td>
        <td width="100px" style="width: 104px;"><span class="wn_status" style="color: {wr_txt_color}">{wn_status}</span></td>
        <td width="200px" class="qr_ref" style="width: 196px;">{qr_ref}</td>
        <td width="100px" style="width: 104px;"><span class="qr_status" style="color: {qr_txt_color}">{qr_status}</span></td>
        <td width="250px" class="wn_grade" style="width: 239px;">{grade}</td>
        <td width="100px" class="wn_bags" style="width: 104px;">{bags}</td>
        <td width="100px" class="wn_net" style="width: 102px;">{net}</td>
        <td width="100px" style="width: 103px;"><input type="button" id="{prefix}_{id}" class="{prefix}" value="{chkVal}" {checked}/></td>
    </tr>
    <!-- END: scroll -->

    <!-- BEGIN: row -->
    <tr>
        td width="200px">{wn_ref}</td>
        <td width="100px"><span class="wn_status" style="color: {wr_txt_color}">{wn_status}</span></td>
        <td width="200px">{qr_ref}</td>
        <td width="100px"><span class="qr_status" style="color: {qr_txt_color}">{qr_status}</span></td>
        <td width="250px">{grade}</td>
        <td width="100px">{bags}</td>
        <td width="100px">{net}</td>
        <td width="100px"><input type="button" id="{prefix}_{id}" class="{prefix}" value="{chkVal}" {checked}/></td>
    </tr>
    <!-- END: row -->
</tbody>
<!-- END: main -->
