@charset "UTF-8";
@font-face {
  font-family: 'font_icons';
  src: url("fonts/font_icons.eot");
  src: url("fonts/font_icons.eot@#iefix") format('embedded-opentype'), url("fonts/font_icons.woff") format('woff'), url("fonts/font_icons.ttf") format('truetype'), url("fonts/font_icons.svg#font_icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="mpcth-icon-"]:before,
[class*=" mpcth-icon-"]:before {
  font-family: 'font_icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  line-height: 1em;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mpcth-icon-plus:before {
  content: '\2b';
}
/* '+' */
.mpcth-icon-minus:before {
  content: '\2d';
}
/* '-' */
.mpcth-icon-info:before {
  content: '\2139';
}
/* 'ℹ' */
.mpcth-icon-left-thin:before {
  content: '\2190';
}
/* '←' */
.mpcth-icon-up-thin:before {
  content: '\2191';
}
/* '↑' */
.mpcth-icon-right-thin:before {
  content: '\2192';
}
/* '→' */
.mpcth-icon-down-thin:before {
  content: '\2193';
}
/* '↓' */
.mpcth-icon-level-up:before {
  content: '\21b0';
}
/* '↰' */
.mpcth-icon-level-down:before {
  content: '\21b3';
}
/* '↳' */
.mpcth-icon-switch:before {
  content: '\21c6';
}
/* '⇆' */
.mpcth-icon-infinity:before {
  content: '\221e';
}
/* '∞' */
.mpcth-icon-plus-squared:before {
  content: '\229e';
}
/* '⊞' */
.mpcth-icon-minus-squared:before {
  content: '\229f';
}
/* '⊟' */
.mpcth-icon-home:before {
  content: '\2302';
}
/* '⌂' */
.mpcth-icon-keyboard:before {
  content: '\2328';
}
/* '⌨' */
.mpcth-icon-erase:before {
  content: '\232b';
}
/* '⌫' */
.mpcth-icon-pause:before {
  content: '\2389';
}
/* '⎉' */
.mpcth-icon-fast-forward:before {
  content: '\23e9';
}
/* '⏩' */
.mpcth-icon-fast-backward:before {
  content: '\23ea';
}
/* '⏪' */
.mpcth-icon-to-end:before {
  content: '\23ed';
}
/* '⏭' */
.mpcth-icon-to-start:before {
  content: '\23ee';
}
/* '⏮' */
.mpcth-icon-hourglass:before {
  content: '\23f3';
}
/* '⏳' */
.mpcth-icon-stop:before {
  content: '\25a0';
}
/* '■' */
.mpcth-icon-up-dir:before {
  content: '\25b4';
}
/* '▴' */
.mpcth-icon-play:before {
  content: '\25b6';
}
/* '▶' */
.mpcth-icon-right-dir:before {
  content: '\25b8';
}
/* '▸' */
.mpcth-icon-down-dir:before {
  content: '\25be';
}
/* '▾' */
.mpcth-icon-left-dir:before {
  content: '\25c2';
}
/* '◂' */
.mpcth-icon-adjust:before {
  content: '\25d1';
}
/* '◑' */
.mpcth-icon-cloud:before {
  content: '\2601';
}
/* '☁' */
.mpcth-icon-star:before {
  content: '\2605';
}
/* '★' */
.mpcth-icon-star-empty:before {
  content: '\2606';
}
/* '☆' */
.mpcth-icon-cup:before {
  content: '\2615';
}
/* '☕' */
.mpcth-icon-menu:before {
  content: '\2630';
}
/* '☰' */
.mpcth-icon-moon:before {
  content: '\263d';
}
/* '☽' */
.mpcth-icon-heart-empty:before {
  content: '\2661';
}
/* '♡' */
.mpcth-icon-heart:before {
  content: '\2665';
}
/* '♥' */
.mpcth-icon-note:before {
  content: '\266a';
}
/* '♪' */
.mpcth-icon-note-beamed:before {
  content: '\266b';
}
/* '♫' */
.mpcth-icon-layout:before {
  content: '\268f';
}
/* '⚏' */
.mpcth-icon-flag:before {
  content: '\2691';
}
/* '⚑' */
.mpcth-icon-tools:before {
  content: '\2692';
}
/* '⚒' */
.mpcth-icon-cog:before {
  content: '\2699';
}
/* '⚙' */
.mpcth-icon-attention:before {
  content: '\26a0';
}
/* '⚠' */
.mpcth-icon-flash:before {
  content: '\26a1';
}
/* '⚡' */
.mpcth-icon-record:before {
  content: '\26ab';
}
/* '⚫' */
.mpcth-icon-cloud-thunder:before {
  content: '\26c8';
}
/* '⛈' */
.mpcth-icon-tape:before {
  content: '\2707';
}
/* '✇' */
.mpcth-icon-flight:before {
  content: '\2708';
}
/* '✈' */
.mpcth-icon-mail:before {
  content: '\2709';
}
/* '✉' */
.mpcth-icon-pencil:before {
  content: '\270e';
}
/* '✎' */
.mpcth-icon-feather:before {
  content: '\2712';
}
/* '✒' */
.mpcth-icon-check:before {
  content: '\2713';
}
/* '✓' */
.mpcth-icon-cancel:before {
  content: '\2715';
}
/* '✕' */
.mpcth-icon-cancel-circled:before {
  content: '\2716';
}
/* '✖' */
.mpcth-icon-cancel-squared:before {
  content: '\274e';
}
/* '❎' */
.mpcth-icon-help:before {
  content: '\2753';
}
/* '❓' */
.mpcth-icon-quote:before {
  content: '\275e';
}
/* '❞' */
.mpcth-icon-plus-circled:before {
  content: '\2795';
}
/* '➕' */
.mpcth-icon-minus-circled:before {
  content: '\2796';
}
/* '➖' */
.mpcth-icon-right:before {
  content: '\27a1';
}
/* '➡' */
.mpcth-icon-direction:before {
  content: '\27a2';
}
/* '➢' */
.mpcth-icon-forward:before {
  content: '\27a6';
}
/* '➦' */
.mpcth-icon-ccw:before {
  content: '\27f2';
}
/* '⟲' */
.mpcth-icon-cw:before {
  content: '\27f3';
}
/* '⟳' */
.mpcth-icon-left:before {
  content: '\2b05';
}
/* '⬅' */
.mpcth-icon-up:before {
  content: '\2b06';
}
/* '⬆' */
.mpcth-icon-down:before {
  content: '\2b07';
}
/* '⬇' */
.mpcth-icon-list-add:before {
  content: '\e003';
}
/* '' */
.mpcth-icon-list:before {
  content: '\e005';
}
/* '' */
.mpcth-icon-left-bold:before {
  content: '\e4ad';
}
/* '' */
.mpcth-icon-right-bold:before {
  content: '\e4ae';
}
/* '' */
.mpcth-icon-up-bold:before {
  content: '\e4af';
}
/* '' */
.mpcth-icon-down-bold:before {
  content: '\e4b0';
}
/* '' */
.mpcth-icon-user-add:before {
  content: '\e700';
}
/* '' */
.mpcth-icon-help-circled:before {
  content: '\e704';
}
/* '' */
.mpcth-icon-info-circled:before {
  content: '\e705';
}
/* '' */
.mpcth-icon-eye:before {
  content: '\e70a';
}
/* '' */
.mpcth-icon-tag:before {
  content: '\e70c';
}
/* '' */
.mpcth-icon-upload-cloud:before {
  content: '\e711';
}
/* '' */
.mpcth-icon-reply:before {
  content: '\e712';
}
/* '' */
.mpcth-icon-reply-all:before {
  content: '\e713';
}
/* '' */
.mpcth-icon-code:before {
  content: '\e714';
}
/* '' */
.mpcth-icon-export:before {
  content: '\e715';
}
/* '' */
.mpcth-icon-print:before {
  content: '\e716';
}
/* '' */
.mpcth-icon-retweet:before {
  content: '\e717';
}
/* '' */
.mpcth-icon-comment:before {
  content: '\e718';
}
/* '' */
.mpcth-icon-chat:before {
  content: '\e720';
}
/* '' */
.mpcth-icon-vcard:before {
  content: '\e722';
}
/* '' */
.mpcth-icon-address:before {
  content: '\e723';
}
/* '' */
.mpcth-icon-location:before {
  content: '\e724';
}
/* '' */
.mpcth-icon-map:before {
  content: '\e727';
}
/* '' */
.mpcth-icon-compass:before {
  content: '\e728';
}
/* '' */
.mpcth-icon-trash:before {
  content: '\e729';
}
/* '' */
.mpcth-icon-doc:before {
  content: '\e730';
}
/* '' */
.mpcth-icon-doc-text-inv:before {
  content: '\e731';
}
/* '' */
.mpcth-icon-docs:before {
  content: '\e736';
}
/* '' */
.mpcth-icon-doc-landscape:before {
  content: '\e737';
}
/* '' */
.mpcth-icon-archive:before {
  content: '\e738';
}
/* '' */
.mpcth-icon-rss:before {
  content: '\e73a';
}
/* '' */
.mpcth-icon-share:before {
  content: '\e73c';
}
/* '' */
.mpcth-icon-basket:before {
  content: '\e73d';
}
/* '' */
.mpcth-icon-shareable:before {
  content: '\e73e';
}
/* '' */
.mpcth-icon-login:before {
  content: '\e740';
}
/* '' */
.mpcth-icon-logout:before {
  content: '\e741';
}
/* '' */
.mpcth-icon-volume:before {
  content: '\e742';
}
/* '' */
.mpcth-icon-resize-full:before {
  content: '\e744';
}
/* '' */
.mpcth-icon-resize-small:before {
  content: '\e746';
}
/* '' */
.mpcth-icon-popup:before {
  content: '\e74c';
}
/* '' */
.mpcth-icon-publish:before {
  content: '\e74d';
}
/* '' */
.mpcth-icon-window:before {
  content: '\e74e';
}
/* '' */
.mpcth-icon-arrow-combo:before {
  content: '\e74f';
}
/* '' */
.mpcth-icon-chart-pie:before {
  content: '\e751';
}
/* '' */
.mpcth-icon-language:before {
  content: '\e752';
}
/* '' */
.mpcth-icon-air:before {
  content: '\e753';
}
/* '' */
.mpcth-icon-database:before {
  content: '\e754';
}
/* '' */
.mpcth-icon-drive:before {
  content: '\e755';
}
/* '' */
.mpcth-icon-bucket:before {
  content: '\e756';
}
/* '' */
.mpcth-icon-thermometer:before {
  content: '\e757';
}
/* '' */
.mpcth-icon-down-circled:before {
  content: '\e758';
}
/* '' */
.mpcth-icon-left-circled:before {
  content: '\e759';
}
/* '' */
.mpcth-icon-right-circled:before {
  content: '\e75a';
}
/* '' */
.mpcth-icon-up-circled:before {
  content: '\e75b';
}
/* '' */
.mpcth-icon-down-open:before {
  content: '\e75c';
}
/* '' */
.mpcth-icon-left-open:before {
  content: '\e75d';
}
/* '' */
.mpcth-icon-right-open:before {
  content: '\e75e';
}
/* '' */
.mpcth-icon-up-open:before {
  content: '\e75f';
}
/* '' */
.mpcth-icon-down-open-mini:before {
  content: '\e760';
}
/* '' */
.mpcth-icon-left-open-mini:before {
  content: '\e761';
}
/* '' */
.mpcth-icon-right-open-mini:before {
  content: '\e762';
}
/* '' */
.mpcth-icon-up-open-mini:before {
  content: '\e763';
}
/* '' */
.mpcth-icon-down-open-big:before {
  content: '\e764';
}
/* '' */
.mpcth-icon-left-open-big:before {
  content: '\e765';
}
/* '' */
.mpcth-icon-right-open-big:before {
  content: '\e766';
}
/* '' */
.mpcth-icon-up-open-big:before {
  content: '\e767';
}
/* '' */
.mpcth-icon-progress-0:before {
  content: '\e768';
}
/* '' */
.mpcth-icon-progress-1:before {
  content: '\e769';
}
/* '' */
.mpcth-icon-progress-2:before {
  content: '\e76a';
}
/* '' */
.mpcth-icon-progress-3:before {
  content: '\e76b';
}
/* '' */
.mpcth-icon-back-in-time:before {
  content: '\e771';
}
/* '' */
.mpcth-icon-network:before {
  content: '\e776';
}
/* '' */
.mpcth-icon-inbox:before {
  content: '\e777';
}
/* '' */
.mpcth-icon-install:before {
  content: '\e778';
}
/* '' */
.mpcth-icon-lifebuoy:before {
  content: '\e788';
}
/* '' */
.mpcth-icon-mouse:before {
  content: '\e789';
}
/* '' */
.mpcth-icon-dot:before {
  content: '\e78b';
}
/* '' */
.mpcth-icon-dot-2:before {
  content: '\e78c';
}
/* '' */
.mpcth-icon-dot-3:before {
  content: '\e78d';
}
/* '' */
.mpcth-icon-suitcase:before {
  content: '\e78e';
}
/* '' */
.mpcth-icon-flow-cascade:before {
  content: '\e790';
}
/* '' */
.mpcth-icon-flow-branch:before {
  content: '\e791';
}
/* '' */
.mpcth-icon-flow-tree:before {
  content: '\e792';
}
/* '' */
.mpcth-icon-flow-line:before {
  content: '\e793';
}
/* '' */
.mpcth-icon-flow-parallel:before {
  content: '\e794';
}
/* '' */
.mpcth-icon-brush:before {
  content: '\e79a';
}
/* '' */
.mpcth-icon-paper-plane:before {
  content: '\e79b';
}
/* '' */
.mpcth-icon-magnet:before {
  content: '\e7a1';
}
/* '' */
.mpcth-icon-gauge:before {
  content: '\e7a2';
}
/* '' */
.mpcth-icon-traffic-cone:before {
  content: '\e7a3';
}
/* '' */
.mpcth-icon-cc:before {
  content: '\e7a5';
}
/* '' */
.mpcth-icon-cc-by:before {
  content: '\e7a6';
}
/* '' */
.mpcth-icon-cc-nc:before {
  content: '\e7a7';
}
/* '' */
.mpcth-icon-cc-nc-eu:before {
  content: '\e7a8';
}
/* '' */
.mpcth-icon-cc-nc-jp:before {
  content: '\e7a9';
}
/* '' */
.mpcth-icon-cc-sa:before {
  content: '\e7aa';
}
/* '' */
.mpcth-icon-cc-nd:before {
  content: '\e7ab';
}
/* '' */
.mpcth-icon-cc-pd:before {
  content: '\e7ac';
}
/* '' */
.mpcth-icon-cc-zero:before {
  content: '\e7ad';
}
/* '' */
.mpcth-icon-cc-share:before {
  content: '\e7ae';
}
/* '' */
.mpcth-icon-cc-remix:before {
  content: '\e7af';
}
/* '' */
.mpcth-icon-github:before {
  content: '\f300';
}
/* '' */
.mpcth-icon-github-circled:before {
  content: '\f301';
}
/* '' */
.mpcth-icon-flickr:before {
  content: '\f303';
}
/* '' */
.mpcth-icon-flickr-circled:before {
  content: '\f304';
}
/* '' */
.mpcth-icon-vimeo:before {
  content: '\f306';
}
/* '' */
.mpcth-icon-vimeo-circled:before {
  content: '\f307';
}
/* '' */
.mpcth-icon-twitter:before {
  content: '\f309';
}
/* '' */
.mpcth-icon-twitter-circled:before {
  content: '\f30a';
}
/* '' */
.mpcth-icon-facebook:before {
  content: '\f30c';
}
/* '' */
.mpcth-icon-facebook-circled:before {
  content: '\f30d';
}
/* '' */
.mpcth-icon-facebook-squared:before {
  content: '\f30e';
}
/* '' */
.mpcth-icon-gplus:before {
  content: '\f30f';
}
/* '' */
.mpcth-icon-gplus-circled:before {
  content: '\f310';
}
/* '' */
.mpcth-icon-pinterest:before {
  content: '\f312';
}
/* '' */
.mpcth-icon-pinterest-circled:before {
  content: '\f313';
}
/* '' */
.mpcth-icon-tumblr:before {
  content: '\f315';
}
/* '' */
.mpcth-icon-tumblr-circled:before {
  content: '\f316';
}
/* '' */
.mpcth-icon-linkedin:before {
  content: '\f318';
}
/* '' */
.mpcth-icon-linkedin-circled:before {
  content: '\f319';
}
/* '' */
.mpcth-icon-dribbble:before {
  content: '\f31b';
}
/* '' */
.mpcth-icon-dribbble-circled:before {
  content: '\f31c';
}
/* '' */
.mpcth-icon-stumbleupon:before {
  content: '\f31e';
}
/* '' */
.mpcth-icon-stumbleupon-circled:before {
  content: '\f31f';
}
/* '' */
.mpcth-icon-lastfm:before {
  content: '\f321';
}
/* '' */
.mpcth-icon-lastfm-circled:before {
  content: '\f322';
}
/* '' */
.mpcth-icon-rdio:before {
  content: '\f324';
}
/* '' */
.mpcth-icon-rdio-circled:before {
  content: '\f325';
}
/* '' */
.mpcth-icon-spotify:before {
  content: '\f327';
}
/* '' */
.mpcth-icon-spotify-circled:before {
  content: '\f328';
}
/* '' */
.mpcth-icon-qq:before {
  content: '\f32a';
}
/* '' */
.mpcth-icon-instagrem:before {
  content: '\f32d';
}
/* '' */
.mpcth-icon-dropbox:before {
  content: '\f330';
}
/* '' */
.mpcth-icon-evernote:before {
  content: '\f333';
}
/* '' */
.mpcth-icon-flattr:before {
  content: '\f336';
}
/* '' */
.mpcth-icon-skype:before {
  content: '\f339';
}
/* '' */
.mpcth-icon-skype-circled:before {
  content: '\f33a';
}
/* '' */
.mpcth-icon-renren:before {
  content: '\f33c';
}
/* '' */
.mpcth-icon-sina-weibo:before {
  content: '\f33f';
}
/* '' */
.mpcth-icon-paypal:before {
  content: '\f342';
}
/* '' */
.mpcth-icon-picasa:before {
  content: '\f345';
}
/* '' */
.mpcth-icon-soundcloud:before {
  content: '\f348';
}
/* '' */
.mpcth-icon-mixi:before {
  content: '\f34b';
}
/* '' */
.mpcth-icon-behance:before {
  content: '\f34e';
}
/* '' */
.mpcth-icon-google-circles:before {
  content: '\f351';
}
/* '' */
.mpcth-icon-vkontakte:before {
  content: '\f354';
}
/* '' */
.mpcth-icon-smashing:before {
  content: '\f357';
}
/* '' */
.mpcth-icon-db-shape:before {
  content: '\f600';
}
/* '' */
.mpcth-icon-sweden:before {
  content: '\f601';
}
/* '' */
.mpcth-icon-logo-db:before {
  content: '\f603';
}
/* '' */
.mpcth-icon-picture:before {
  content: '🌄';
}
/* '\1f304' */
.mpcth-icon-globe:before {
  content: '🌎';
}
/* '\1f30e' */
.mpcth-icon-leaf:before {
  content: '🍂';
}
/* '\1f342' */
.mpcth-icon-graduation-cap:before {
  content: '🎓';
}
/* '\1f393' */
.mpcth-icon-mic:before {
  content: '🎤';
}
/* '\1f3a4' */
.mpcth-icon-palette:before {
  content: '🎨';
}
/* '\1f3a8' */
.mpcth-icon-ticket:before {
  content: '🎫';
}
/* '\1f3ab' */
.mpcth-icon-video:before {
  content: '🎬';
}
/* '\1f3ac' */
.mpcth-icon-target:before {
  content: '🎯';
}
/* '\1f3af' */
.mpcth-icon-music:before {
  content: '🎵';
}
/* '\1f3b5' */
.mpcth-icon-trophy:before {
  content: '🏆';
}
/* '\1f3c6' */
.mpcth-icon-thumbs-up:before {
  content: '👍';
}
/* '\1f44d' */
.mpcth-icon-thumbs-down:before {
  content: '👎';
}
/* '\1f44e' */
.mpcth-icon-bag:before {
  content: '👜';
}
/* '\1f45c' */
.mpcth-icon-user:before {
  content: '👤';
}
/* '\1f464' */
.mpcth-icon-users:before {
  content: '👥';
}
/* '\1f465' */
.mpcth-icon-lamp:before {
  content: '💡';
}
/* '\1f4a1' */
.mpcth-icon-alert:before {
  content: '💥';
}
/* '\1f4a5' */
.mpcth-icon-water:before {
  content: '💦';
}
/* '\1f4a6' */
.mpcth-icon-droplet:before {
  content: '💧';
}
/* '\1f4a7' */
.mpcth-icon-credit-card:before {
  content: '💳';
}
/* '\1f4b3' */
.mpcth-icon-monitor:before {
  content: '💻';
}
/* '\1f4bb' */
.mpcth-icon-briefcase:before {
  content: '💼';
}
/* '\1f4bc' */
.mpcth-icon-floppy:before {
  content: '💾';
}
/* '\1f4be' */
.mpcth-icon-cd:before {
  content: '💿';
}
/* '\1f4bf' */
.mpcth-icon-folder:before {
  content: '📁';
}
/* '\1f4c1' */
.mpcth-icon-doc-text:before {
  content: '📄';
}
/* '\1f4c4' */
.mpcth-icon-calendar:before {
  content: '📅';
}
/* '\1f4c5' */
.mpcth-icon-chart-line:before {
  content: '📈';
}
/* '\1f4c8' */
.mpcth-icon-chart-bar:before {
  content: '📊';
}
/* '\1f4ca' */
.mpcth-icon-clipboard:before {
  content: '📋';
}
/* '\1f4cb' */
.mpcth-icon-attach:before {
  content: '📎';
}
/* '\1f4ce' */
.mpcth-icon-bookmarks:before {
  content: '📑';
}
/* '\1f4d1' */
.mpcth-icon-book:before {
  content: '📕';
}
/* '\1f4d5' */
.mpcth-icon-book-open:before {
  content: '📖';
}
/* '\1f4d6' */
.mpcth-icon-phone:before {
  content: '📞';
}
/* '\1f4de' */
.mpcth-icon-megaphone:before {
  content: '📣';
}
/* '\1f4e3' */
.mpcth-icon-upload:before {
  content: '📤';
}
/* '\1f4e4' */
.mpcth-icon-download:before {
  content: '📥';
}
/* '\1f4e5' */
.mpcth-icon-box:before {
  content: '📦';
}
/* '\1f4e6' */
.mpcth-icon-newspaper:before {
  content: '📰';
}
/* '\1f4f0' */
.mpcth-icon-mobile:before {
  content: '📱';
}
/* '\1f4f1' */
.mpcth-icon-signal:before {
  content: '📶';
}
/* '\1f4f6' */
.mpcth-icon-camera:before {
  content: '📷';
}
/* '\1f4f7' */
.mpcth-icon-shuffle:before {
  content: '🔀';
}
/* '\1f500' */
.mpcth-icon-loop:before {
  content: '🔁';
}
/* '\1f501' */
.mpcth-icon-arrows-ccw:before {
  content: '🔄';
}
/* '\1f504' */
.mpcth-icon-light-down:before {
  content: '🔅';
}
/* '\1f505' */
.mpcth-icon-light-up:before {
  content: '🔆';
}
/* '\1f506' */
.mpcth-icon-mute:before {
  content: '🔇';
}
/* '\1f507' */
.mpcth-icon-sound:before {
  content: '🔊';
}
/* '\1f50a' */
.mpcth-icon-battery:before {
  content: '🔋';
}
/* '\1f50b' */
.mpcth-icon-search:before {
  content: '🔍';
}
/* '\1f50d' */
.mpcth-icon-key:before {
  content: '🔑';
}
/* '\1f511' */
.mpcth-icon-lock:before {
  content: '🔒';
}
/* '\1f512' */
.mpcth-icon-lock-open:before {
  content: '🔓';
}
/* '\1f513' */
.mpcth-icon-bell:before {
  content: '🔔';
}
/* '\1f514' */
.mpcth-icon-bookmark:before {
  content: '🔖';
}
/* '\1f516' */
.mpcth-icon-link:before {
  content: '🔗';
}
/* '\1f517' */
.mpcth-icon-back:before {
  content: '🔙';
}
/* '\1f519' */
.mpcth-icon-flashlight:before {
  content: '🔦';
}
/* '\1f526' */
.mpcth-icon-chart-area:before {
  content: '🔾';
}
/* '\1f53e' */
.mpcth-icon-clock:before {
  content: '🕔';
}
/* '\1f554' */
.mpcth-icon-rocket:before {
  content: '🚀';
}
/* '\1f680' */
.mpcth-icon-block:before {
  content: '🚫';
}
/* '\1f6ab' */

/* status: weight out */
.mpcth-icon-swo:before {
  content: '\e715';
  color: purple;
  margin-left: 5px; 
  text-decoration: none; 
  cursor: default;
}
/* status: in store */
.mpcth-icon-sis:before {
  content: '\e754';
  color: green;
  margin-left: 5px; 
  text-decoration: none; 
  cursor: default;
}
/* status: allocated */
.mpcth-icon-sa:before {
  content: '\e754';
  color: purple;
  margin-left: 5px; 
  text-decoration: none; 
  cursor: default;
}