<div style="width: 850px !important; min-height: 80px; height: auto; overflow: hidden;margin-right: 9px; border-top: 1px solid gray" class="center">
    <div class="left" style="width: 425px;">
        <table class="detail_info_table" style="margin-left: 60px">
            <tr>
                <td class="" align="right">QR Ref</td>
                <td class="fontBolder" align="left">{{:qr_ref}}</td>
            </tr>
            <tr>
                <td class=""  align="right">Date</td>
                <td class="fontBolder" align="left">{{:date}}</td>
            </tr>
            <tr>
                <td class="" align="right">Supplier</td>
                <td class="fontBolder" align="left">{{:supplier}}</td>
            </tr>
            <tr>
                <td class="" align="right">Supplier Ref</td>
                <td class="fontBolder" align="left"></td>
            </tr>
            <tr>
                <td class="" align="right">Truck No</td>
                <td class="fontBolder" align="left">{{:truck_no}}</td>
            </tr>
            <tr>
                <td class="" align="right">Container No</td>
                <td class="fontBolder" align="left">{{:container_no}}</td>
            </tr>
        </table>
    </div>
    <div class="right" style="width: 425px;">
        <table class="detail_info_table" style="margin-left: 60px">
            <tr>
                <td class="" align="right">WN Ref</td>
                <td class="fontBolder" align="left">{{:wn_ref}}</td>
            </tr>
            <tr>
                <td class=""  align="right">Origin</td>
                <td class="fontBolder" align="left">Viet Nam</td>
            </tr>
            <tr>
                <td class="" align="right">Quality</td>
                <td class="fontBolder" align="left">Robusta</td>
            </tr>
            <tr>
                <td class="" align="right">Grade</td>
                <td class="fontBolder" align="left">{{:grade}}</td>
            </tr>
        </table>
    </div>
</div>
<div style="width: 850px !important; min-height: 300px; height: auto; overflow: hidden;margin-right: 9px; border-top: 1px solid gray" class="center">
    <div class="left" style="width: 425px;">
        <table class="detail_info_table" style="margin-left: 60px">
            <tr>
                <td class="" align="right">Black (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="black" id="black" value="{{:black}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Brown (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="brown" id="brown" value="{{:brown}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Broken (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="broken" id="broken" value="{{:broken}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Black & Broken (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="black_broken" id="black_broken" value="{{:black_broken}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Worm (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="worm" id="worm" value="{{:worm}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">FM (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="fm" id="fm" value="{{:fm}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Moisture (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="moisture" id="moisture" value="{{:moisture}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Moldy (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="moldy" id="moldy" value="{{:moldy}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Old Crop (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="old_crop" id="old_crop" value="{{:old_crop}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Other Bean (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="other_bean" id="other_bean" value="{{:other_bean}}" style="width: 40%"/></td>
            </tr>
            <!--<tr>-->
                <!--<td class="" align="right">Cherry (%)</td>-->
                <!--<td class="" align="left"><input type="text" class="numberOnly" name="cherry" id="cherry" value="{{:cherry}}" style="width: 40%"/></td>-->
            <!--</tr>-->
            <tr>
                <td class="" align="right">Defect (%)</td>
                <td class="" align="left"><input type="text" class="numberOnly" name="defect" id="defect" value="{{:defect}}" style="width: 40%"/></td>
            </tr>
        </table>
    </div>
    <div class="right" style="width: 425px;">
        <table class="detail_info_table" style="margin-left: 60px">
            <!--<tr>-->
                <!--<td class="" align="right">Above Screen 20 (%)</td>-->
                <!--<td class="" align="left"><input type="text" class="single numberOnly" name="above_sc20" id="above_sc20" value="{{:above_sc20}}" style="width: 40%"/></td>-->
            <!--</tr>-->
            <tr>
                <td class="" align="right">Screen 20 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc20" id="sc20" value="{{:sc20}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Screen 19 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc19" id="sc19" value="{{:sc19}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Screen 18 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc18" id="sc18" value="{{:sc18}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Screen 17 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc17" id="sc17" value="{{:sc17}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Screen 16 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc16" id="sc16" value="{{:sc16}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Screen 15 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc15" id="sc15" value="{{:sc15}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Screen 14 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc14" id="sc14" value="{{:sc14}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Screen 13 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc13" id="sc13" value="{{:sc13}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Screen 12 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="sc12" id="sc12" value="{{:sc12}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right">Below Screen 12 (%)</td>
                <td class="" align="left"><input type="text" class="single numberOnly" name="below_sc12" id="below_sc12" value="{{:below_sc12}}" style="width: 40%"/></td>
            </tr>
            <tr>
                <td class="" align="right"></td>
                <td class="fontBolder formatNumber" name="total_per" id="total_per" align="left">0.00</td>
            </tr>
        </table>
    </div>
</div>
<div style="width: 850px !important; min-height: 100px; height: auto; overflow: hidden;margin-right: 9px; border-top: 1px solid gray" class="center">
    <table class="quality_table center" border="0">
        <thead>
            <tr>
                <th></th>
                <th>Cup 1</th>
                <th>Cup 2</th>
                <th>Cup 3</th>
                <th>Cup 4</th>
                <th>Cup 5</th>
                <th>Rejected</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="test_case">

        </tbody>
    </table>
</div>
<div style="width: 850px !important; min-height: 100px; height: auto; overflow: hidden;margin-right: 9px; border-top: 1px solid gray" class="center">
    <table class="detail_info_table" style="margin-left: 60px">
        <tr>
            <td class="" align="right">Remark</td>
            <td align="left">
                <textarea name="remark" id="remark" style="width: 575px; height: 50px">{{:remark}}</textarea>
            </td>
        </tr>
        <tr>
            <td class=""  align="right">Complete</td>
            <td align="left">
                {{if status == 1}}
                <input type="checkbox" value="1" name="status" checked  onclick="changeChkBoxVal(this);"/>
                {{else}}
                <input type="checkbox" value="0" name="status" onclick="changeChkBoxVal(this);"/>
                {{/if}}
            </td>
        </tr>
    </table>
</div>
<script>
                    $(document).ready(function() {
                        $.formatNumber(2);
                        sendJsonRequest("test_case", "get_cuptest", {"qualityrId": qualityrId}, 0, [{"name": "stylingTestCupTable", "params": []}]);
                        total_per = 0;
                        $(".single").each(function() {
                            if ($(this).val() === "") {
                                $(this).val("0");
                            }
                            total_per += parseFloat($(this).val());

                        });

                        $("#total_per").html(total_per);
                        
                    });
</script>
