<fieldset id="priceListForm">
	<ul>
		<li>
			<label for="client">Client</label>
			<select id="client" rq_type=text></select>
		</li>
		<li>
			<label for="storage">Storage</label>
			<input type="text" class="numberOnly" id="storage" rq_type=text value="0"/>
		</li>
		<li>
			<label for="import">Import</label>
			<input type="text" class="numberOnly" id="imp" rq_type=text value="0"/>
		</li>
		<li>
			<label for="cleanGrade">Clean/Grade</label>
			<input type="text" class="numberOnly" id="cleanGrade" rq_type=text value="0"/>
		</li>
		<li>
			<label for="colorSort">Color Sort</label>
			<input type="text" class="numberOnly" id="colorSort" rq_type=text value="0"/>
		</li>
		<li>
			<label for="polishing">Polishing</label>
			<input type="text" class="numberOnly" id="polishing" rq_type=text value="0"/>
		</li>
		<li>
			<label for="reweighing">Re-Weighing</label>
			<input type="text" class="numberOnly" id="reweighing" rq_type=text value="0"/>
		</li>
		<li>
			<label for="rebag">re-Bag</label>
			<input type="text" class="numberOnly" id="rebag" rq_type=text value="0"/>
		</li>
		<li>
			<label for="dry">Dry</label>
			<input type="text" class="numberOnly" id="dry" rq_type=text value="0"/>
		</li>
		<li>
			<label for="jute">Jute Bag</label>
			<input type="text" class="numberOnly" id="jute" rq_type=text value="0"/>
		</li>
		<li>
			<label for="bigbag">Big Bag</label>
			<input type="text" class="numberOnly" id="bigbag" rq_type=text value="0"/>
		</li>
		<li>
			<label for="bulk">Bulk</label>
			<input type="text" class="numberOnly" id="bulk" rq_type=text value="0"/>
		</li>
		<li>
			<label for="pp">PP Bag</label>
			<input type="text" class="numberOnly" id="pp" rq_type=text value="0"/>
		</li>
		<li>
			<label for="jute">Jumbo Bag</label>
			<input type="text" class="numberOnly" id="jumbo" rq_type=text value="0"/>
		</li>
	</ul>
</fieldset>
<input type="button" class="right" id="btnSavePrice" value="Save"/>